<div class="container-fluid d-flex justify-content-center">
  <div class="w-100 pt-3 m-2 container justify-content-center">

    <mat-card>
      <mat-toolbar class="bg-white"><span>Lista de Símbolos</span></mat-toolbar>

      <mat-form-field appearance="outline">
        <input matInput placeholder="Filtrar" autocomplete="off" (keyup)="filterData($event)">
        <mat-icon matSuffix>search_icon</mat-icon>
      </mat-form-field>

      <table mat-table matSort [dataSource]="moedas" class="mat-elevation-z8">

        <!-- Symbol Column -->
        <ng-container matColumnDef="symbols">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Símbolo </th>
          <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
        </ng-container>

        <!-- Description Column -->
        <ng-container matColumnDef="description">
          <th mat-header-cell mat-sort-header *matHeaderCellDef> Descrição </th>
          <td mat-cell *matCellDef="let element"> {{ element.description }} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


      </table>

      <mat-paginator #paginator
      [pageSize]="25"
      [pageSizeOptions]="[10, 25, 50, 100]"
      showFirstLastButtons>
    </mat-paginator>
    </mat-card>
  </div>
</div>
